

body {
    padding: 10px;
    background: url("trainbg.jpg");
    font-weight: bold;

}

#train-table th, td {
    display: inline-block;
    width: 16.575%;
  }

  .jumbotron {
     border: 2px solid black;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
